#define FIREBASE_API "YOUR_API_KEY"
#define PROJECT_ID "YOUR_PROJECT_ID"
#define COLLECTION "YOUR_COLLECTION_NAME"

#define WIFI_SSID "YOUR_WIFI_SSID"
#define WIFI_ID "YOUR_WIFI_ID"
#define WIFI_PASS "YOUR_WIFI_PASS"